<html>
	<head>
		
	<title>Search Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/results.css">
		</head>

<body id="b">
	<h1>
	Search Results
</h1>
<ol>
	


<%  data["Search"].forEach(function(movie){ %>
	
	<li>
		 <%= movie["Title"] %>  <br><div id="year">
		(Year: <%=movie["Year"]%>)
		</div>
	</li>
	
	<img id="image" src=<%=movie["Poster"]%> > 
	<hr>
	
<% }) %>
	</ol>
<center>
<a href = "/"><button id ="button" class="btn btn-danger active" >
		Go Back
	</button></a>
	</center>
	<p id="c">
		(c) RJ 2020
		
	</p>
	
</body>
</html>