<html>
	<head>
		
	<title>Search Results</title>

<style>
	#image{
		margin-left: 65%;
		border: white 5px solid;
	}
	body{
		color: red;
		background: black;
	}
	#b{
		color: red;
		background: black;
	}
	h1{
		text-align: center;
	}
	strong{
		margin-bottom: 5%;
		font-size: 50px;
	}
	#button{
		/* margin-left: 45%;
		width: 12%; */
		/* text-align: center; */
		/* align: center; */
		margin: 0 auto;
		width: 25%;
	}
	p{
		text-align: center;
		margin: 10 0 10;
	}
	#year{
		font-size: 25px;
	}
	ol{
		margin-left:2%;
		font-size: 50px;
	}
	#c{
		text-align: center;
		margin: 10 0 10;
	}
	
</style>
		</head>

<body id="b">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<h1>
	Search Results :
</h1>
<ol>
	


<%  data["Search"].forEach(function(movie){ %>
	
	<li>
		 <strong><%= movie["Title"] %>:-</strong>  <br><div id="year">
		(Year: <%=movie["Year"]%>)
		</div>
	</li>
	
	<img id="image" src=<%=movie["Poster"]%> > 
	<hr>
	
<% }) %>
	</ol>
<center>
<a href = "/"><button id ="button" class="btn btn-danger active" >
		Go Back
	</button></a>
	</center>
	<p id="c">
		(c) RJ 2020
		
	</p>
	
</body>
</html>