<style>
	body{
		background-image: url('https://i.pinimg.com/originals/be/2a/7a/be2a7a01262b6e5ab091eee86aa87ead.jpg');
		text-align: center;
		
	}
	h1{
		margin-top: 5%;
		color: red;
		
	}
	#form{
		padding: 2%;
		
	}
	#search{
		width: 25%;
		
			margin-top: 1%;
	}
	.input{
		margin-top: 50px;
	}
	div{
		background: black;
		/* margin-left: 25%;
		margin-right: 25%; */
		margin-top: 15%;
	}
	#submit{
		margin-top: 1%;
		width: 25%;
	}
	p{
		color: red;
		text-align: center;
	}
	
</style>
	
<!-- <div style="text-align: center;">
	
<div style="background: black;"> -->
<body>
	<div>
		<h1 >
	 Movie Search:
</h1>

<form id="form" action = "/results" method="GET">
	<input id="search" type = "text" placeholder = "Search a Movie" name="search"><br>
	<input id="submit" type="submit" >
	<p id ="p">
		(c)RJ 2020
	</p>
</form>
	</div>
	
	</body>
	